// =============== footer 頁尾內容 ===============

footer{
    background-color: #F0F0F0;
  }
  
  .footer__top{
    border-bottom: 3px solid white;
  }
  
  .footer__social{
    display: flex;
    gap: 15px;
  }

  .footer__social__icon a{
    font-size: 40px;
    color: dimgrey;
    transition: all 0.25s ease;

    &:hover{
      font-size: 42px;
      color: black;
    }
  }

  .footer__info{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/wordmark_footer.png");
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 250px;
  
    *{
      color: #444;
      line-height: 2;
    }
  }
  
  .footer__info__col{
    width: 20%;
    margin-right: 30px;
    
    @include pad{
      width: 100%;
      margin-top: 20px;
      margin-right: 0;
    }
    
  }
  
  .footer__info__col:first-child {
    margin-right: 0;
  }
  
  .footer__info__col:last-child {
    margin-right: 0;
  }
  
  .footer__info__item{
    margin-top: 10px;

    //footer項目清單文字
    a{
      transition: all 0.25s;     
      &:hover{
        color: $color-green;  
      }
    }
  }
  
  